In [4]:
import pandas as pd
import os

# Define the path to your raw data folder
RAW_DATA_PATH = "data/raw/"
PROCESSED_DATA_PATH = "data/processed/"

print("Loading title.basics.tsv.gz...")
# Load the movie titles dataset
# We use a tsv reader (tab-separated values) and specify the compression
title_basics_df = pd.read_csv(os.path.join(RAW_DATA_PATH, "title.basics.tsv.gz"), sep='\t', low_memory=False)

print("Data loaded successfully!")
# Display the first 5 rows and the shape of the dataframe
print(f"Shape of the dataframe: {title_basics_df.shape}")
display(title_basics_df.head())

Loading title.basics.tsv.gz...
Data loaded successfully!
Shape of the dataframe: (12058793, 9)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short